langchain-community
tiktoken
langchainhub
langchain
langgraph
langserve
pydantic
httpx
python-dotenv
google-generativeai
langchain-google-genai
langchain-groq
langchain-nomic
langchain-text-splitters
sentence-transformers
streamlit
langchain-openai
ipykernel
chromadb
fastapi
uvicorn
colorama

